* {
  margin: 0;
  padding: 0;


}
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  
  100% {
    transform: rotate(360deg);
  }
}

#home h1 {
  animation: rotate 2s linear forwards;
}


#home h1 {
  animation: rotate 2s linear forwards;
}


body {
  background-color: #f7f7f7;
  font-family: Arial, sans-serif;
}

nav {
  background-color: #f8c6d1;
  color: #fff;
  padding: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

nav ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
}

nav ul li {
  margin-right: 10px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  padding: 5px 10px;
}
/*section home */
#home {
  text-align: center;
  padding: 50px;
  background-color: #f8c6d1;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#home h1 {
  font-size: 36px;
  color: #333;
  margin-bottom: 10px;
}

#home h2 {
  font-size: 24px;
  color: #666;
}

/* section about  */
#about {
  padding: 50px;
  background-color: #f8c6d1;
}

#about h2 {
  font-size: 24px;
  color: #333;
  margin-bottom: 10px;
}

#about p {
  color: #666;
  line-height: 1.5;
}

/* work */
#work {
  padding: 50px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#work h2 {
  font-size: 24px;
  color: #333;
  margin-bottom: 10px;
}

#work ul li {
  margin-bottom: 10px;
}

#work strong {
  color: #333;
}

/* resume section  */
#resume {
  padding: 50px;
  background-color: #f8c6d1;
}

#resume h2 {
  font-size: 24px;
  color: #333;
  margin-bottom: 10px;
}

#resume ul {
  margin-bottom: 20px;
}

#resume li {
  margin-bottom: 5px;
}

/* section contact  */
#contact {
  padding: 50px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#contact h2 {
  font-size: 24px;
  color: #333;
  margin-bottom: 10px;
}

#contact ul li {
  margin-bottom: 10px;
}

#contact form {
  margin-top: 20px;
}

#contact form h3 {
  font-size: 18px;
  color: #333;
  margin-bottom: 10px;
}

#contact form label {
  display: block;
  margin-bottom: 5px;
}

#contact form input[type="text"],
#contact form input[type="email"],
#contact form textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 10px;
}

#contact form input[type="submit"] {
  background-color: #f8c6d1;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}

/* Footer styles */
footer {
  background-color: #ff8abf;
  color: #fff;
  padding: 20px;
  text-align: center;
  animation: footerAnimation 0.8s ease-in-out infinite alternate;
}

footer ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

footer ul li {
  margin-right: 10px;
}

footer ul li a {
  color: #fff;
  text-decoration: none;
  transition: color 0.3s ease-in-out;
}

footer ul li a:hover {
  color: #f8c6d1;
}

footer p {
  margin-top: 10px;
}


/* Animation  footer */
@keyframes footerAnimation {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-10px);
  }
}